rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /research/{userId}/{expenseId}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId
        && (request.resource == null || request.resource.size < 5 * 1024 * 1024)
        && (request.resource == null || request.resource.contentType.matches('image/.*'));
    }
  }
}
